<html lang="ru"><head itemscope="" itemtype="http://schema.org/WebPage">
	<title itemprop="headline">Проверка варнов у Nika | Server-Discord</title>
	<meta charset="utf-8">
	<meta itemprop="description" name="description" content="Страница для проверки предупреждений, полученных от Ники">
	<meta http-equiv="content-language" content="ru">
	
	<link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico">
	
	<link rel="apple-touch-icon" sizes="57x57" href="static/favicon.ico">
	<link rel="apple-touch-icon" sizes="60x60" href="static/favicon.ico">
	<link rel="apple-touch-icon" sizes="72x72" href="static/favicon.ico">
	<link rel="apple-touch-icon" sizes="76x76" href="static/favicon.ico">
	<link rel="apple-touch-icon" sizes="120x120" href="static/favicon.ico">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#7289DA">

	<meta property="og:title" content="Проверка варнов у Nika">
	<meta property="og:description" content="Страница для проверки предупреждений, полученных от Ники">
	<meta property="og:image" content="static/ava.jpg">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://nika.sqdsh.top">

	<link rel="stylesheet" href="static/bootstrap-grid.min.css">
	<link rel="stylesheet" href="static/style.css">
	<link rel="stylesheet" href="static/media.css">
	<style>.topLine .logo a::after{content: "Nika";}</style>
</head>
<body itemprop="articleBody">
<section class="topLine">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="logo" id="top">
					<a itemprop="url" tabindex="0" href="https://nika.sqdsh.top/" alt="DISCORD" title="На главную"><img itemprop="logo" src="https://vimeauth.ru/cdn/Discord-Logo.svg" alt="" class="hidden-xs"><img src="https://vimeauth.ru/cdn/Discord-Logo-Small.svg" alt="" class="hidden-lg hidden-md hidden-sm"></a>
				</div>
			</div>
		</div>
	</div>
</section>
<div id="scroll">
<main>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="topIndexBox">
						<div class="search">
							<label>
								<form action="/" method="GET"><input style="height: 50px;" type="text" name="id" id="search" placeholder="Найти пользователя..."><input style="height: 30px;" type="image" src="static/searchIcon.png"></form>
							</label>
						</div>
						<p style="margin: 0 auto;"><a href="/appeal" target="_blank">Форма для снятия предупреждений</a></p>
					</div><br>
					<div style="margin: 0 auto;" id="ListServers"><%- `Произошла ошибка в работе сайта: ${message}` %></div>
				</div>
			</div>
		</div>
	</section>
</main>
<footer itemtype="http://schema.org/WPFooter">
	<article>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<%- phrase %>
					<br>Данный сайт не принадлежит проекту <a href="https://server-discord.com/">Server-Discord.com</a>.
				</div>
			</div>
		</div>
	</article>
</footer>
</div>   
</body></html>